body {
  background-color: #007aff !important;
}

.container {
  min-height: 100vh;
  background-color: #007aff !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-card {
  width: 30rem;
}

.question-footer {
  border-top: 1px solid rgb(0, 0, 0, 0.4);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.quiz-answer-card:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.05);
}